.header {
  text-align: center;
}
.main {
  width: 80%;
  margin: 80px auto 0;
  display: grid;
  place-items: center;
}

.list {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.error {
  color: red;
}